<nav class="navbar navbar-dark mp-navbar">
  <button class="navbar-toggler collapsed hidden-md-up" type="button" data-toggle="collapse" data-target="#global-navbar-content" aria-controls="global-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa mp-navbar-toggler-icon"></i>
  </button>
  <div class="collapse container navbar-toggleable-sm" id="global-navbar-content">
    <a class="navbar-brand" href="/">Doubtfire</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= active_on 'articles' %>" href="/articles">Articles &amp; Guides</a>
      </li>
    </ul>
  </div>
</nav>
