body.index > main {
  background: linear-gradient(to bottom right, $mp-color-bg-dark, $mp-color-bg-light);
  padding: 80px 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  .mp-logo {
    width: 10px * $mp-logo-aspect-ratio-w;
    height: 10px * $mp-logo-aspect-ratio-h;
  }
  .mp-logo, p.lead, pre.mp-leadline-script {
    margin: 0 auto 30px;
    display: block;
  }
  p.lead {
    font-weight: 300;
    font-size: 1.5em;
  }
  .mp-leadline {
    p {
      font-weight: 300;
      strong, a {
        font-weight: 500;
      }
      a {
        color: white;
      }
    }
  }
  .mp-leadline pre.mp-leadline-script {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 0.25em;
    transition: background-color ease-in 0.15s;
    &:hover {
      background-color: $mp-color-highlight;
      cursor: pointer;
    }
    &::selection {
      background-color: darken($mp-color-highlight, 30%);
      color: #fff;
    }
  }
  .container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .mp-leadline ul.mp-leadline-packages {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      text-align: center;
      display: inline-block;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 15%;
      }
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
      a {
        font-weight: 500;
        color: $mp-color-highlight;
      }
      a:hover {
        color: $mp-color-secondary;
        text-decoration: none;
      }
      i {
        display: block;
        margin: 0 auto;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
