<% wrap_layout :index do %>
  <%= partial 'partials/page_header', locals: { title: name, brief: brief } %>
  <div class="mp-api-root container">
    <div class="row">
      <aside class="mp-sidebar mp-sticky-sidebar">
        <%= partial 'partials/api/nav' %>
      </aside>
      <article class="mp-content">
        <%= yield %>
      </article>
    </div>
  </div>
<% end %>
