// TODO: Import only components that are necessary.
@use 'bulma/bulma.sass';
@use 'pattern.css/pattern.scss';

html {
  overflow-y: auto;
}

.guide-content {
  @extend .content;

  line-height: 1.8em;
  font-size: 1.15em;

  .hint {
    @extend .box;
    @extend .p-3;

    &.tip {
      @extend .has-background-success-light;
    }

    &.warn {
      @extend .has-background-warning-light;
    }

    &.error {
      @extend .has-background-danger-light;
    }
  }

  pre {
    code.hljs {
      @extend .p-0;
      background-color: transparent;
    }
  }

  img {
    &:not(.inline) {
      display: block;
      margin: 0 auto;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      @extend .mt-6;
    }
  }
}

.guide-toc {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;

  p.guide-toc-item {
    &.is-active {
      font-weight: bold;
    }
  }
}
