<div class="container">
  <div class="row">
    <p class="lead">
      <%= data.landing_page.title %>
    </p>
    <span class="mp-logo"></span>
  </div>
  <div class="row mp-leadline">
    <%= data.landing_page.leadline %>
  </div>
</div>
